* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body {
    margin: 0;
    background-color: #fafcf5;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
  overflow: hidden;
  background-color: #fe5f55;
  color: #fafcf5;  
  padding: 0.66em 1.75em 0.66em;
}

.main {
    background-color: #fafcf5;
    color: #171717;
    padding: 2em;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.footer {
  background-color: #fe5f55;
  color: #fafcf5; 
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  align-content: center;
  line-height: 0.5em;
}
.footer p {
    font-size: 0.85em;
}

#chn {

}
